@import '_variables';

.issues-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 18%;

  .issue {
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 12px;
    padding: 16px;
    cursor: pointer;
    width: 100%;

    &:hover {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .issues-icon {
      height: 48px;
      margin-right: 12px;
    }

    .issue-content {
      font-size: 18px;

      .time {
        color: #c0c0c0;
        font-size: 16px;
        margin-bottom: 8px;
      }

      .keywords {
        display: flex;
        flex-wrap: wrap;
        margin-top: 12px;

        .keyword {
          padding: 4px;
          border-radius: 4px;
          margin: 2px;
        }
      }
    }
  }
}

.source-item {
  display: flex;

  .source-icon {
    height: 20px;
  }

  .source-label {
    margin-left: 6px;
    font-size: 14px;
  }
}

.issues-source-title {
  font-weight: bold;
}