<div class="issues-container">
  <mat-expansion-panel style="width: 100%">
    <mat-expansion-panel-header>
      <mat-panel-title class="issues-source-title">
        Zdroje dat
      </mat-panel-title>
      <mat-panel-description>
        Seznam aktivních datových zdrojú
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list dense>
      <mat-list-item class="source-item" *ngFor="let source of sources">
        <img src="assets/icons/fb.svg" class="source-icon">
        <div class="source-label">{{source.source}}</div>
      </mat-list-item>
    </mat-list>

    <mat-form-field>
      <input matInput placeholder="URL na zdroj" [(ngModel)]="newSource">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Adaptér">
        <mat-option [value]="'Facebook'">
          Facebook
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="confirmNewSource()">Přidat</button>
  </mat-expansion-panel>

  <div class="issue" *ngFor="let issue of issues">
    <img src="assets/icons/fb.svg" class="issues-icon">
    <div class="issue-content">
      <div class="time">{{issue.status_published}}</div>
      <div class="description">{{issue.status_message}}</div>
      <div class="keywords">
        <mat-chip class="keyword" *ngFor="let keyword of getKeywords(issue)">{{keyword}}</mat-chip>
      </div>
    </div>
  </div>


</div>