<div class="landing-background">

    <img class="logo-image" src="assets/images/logo.png">

    <mat-card class="login-content">
        <mat-form-field>
            <input matInput [(ngModel)]="login" placeholder="Jméno" (keyup.enter)="onLoginClick()">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="password" type="password" placeholder="Heslo" (keyup.enter)="onLoginClick()">
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button" (click)="onLoginClick()">Přihlásit se</button>
    </mat-card>
</div>