<div *ngIf="solution != null" class="sd-container">

  <mat-card class="solution-detail">
    <div class="sd-header">
      <img [src]="solution.image" class="sd-image">
      <mat-card-title class="sd-title">{{solution.title}}</mat-card-title>
    </div>

    <div class="sd-content">
      <div class="sd-description">{{solution.longDescription}}</div>
      <div class="sd-divider"></div>

      <div class="sd-info">
        <div class="sd-info-column">
          <div class="sd-info-item sd-info-label">Mesto</div>
          <div class="sd-info-item sd-info-label">Kategorie</div>
          <div class="sd-info-item sd-info-label">Rozpocet</div>
          <div class="sd-info-item sd-info-label">Rok</div>
          <div class="sd-info-item sd-info-label">Provozovatel</div>
          <div class="sd-info-item sd-info-label">Status</div>

        </div>

        <div class="sd-info-column">
          <div class="sd-info-item sd-info-value">{{solution.location}}</div>
          <div class="sd-info-item sd-info-value">{{solution.category}}</div>
          <div class="sd-info-item sd-info-value">{{(solution.budget || 0) | number}} CZK</div>
          <div class="sd-info-item sd-info-value">{{solution.year}}</div>
          <div class="sd-info-item sd-info-value">{{solution.vendor}}</div>
          <div class="sd-info-item sd-info-value">{{solution.status}}</div>

        </div>
      </div>

      <div class="sd-divider"></div>
      <button mat-raised-button color="primary" (click)="redirectToList()">Zpet</button>
    </div>


  </mat-card>

</div>
