<div *ngIf="solution != null" class="sd-container" xmlns="http://www.w3.org/1999/html">

    <mat-card class="solution-detail">
        <div class="sd-header">
            <img [src]="solution.image" class="sd-image">
            <mat-card-title class="sd-title">{{solution.title}}</mat-card-title>
        </div>

        <div class="sd-content">
            <div class="sd-description">{{solution.longDescription}}</div>
            <div class="sd-divider"></div>

            <div class="sd-info">
                <div class="sd-info-column">
                    <div class="sd-info-item sd-info-label">Město</div>
                    <div class="sd-info-item sd-info-label">Kategorie</div>
                    <div class="sd-info-item sd-info-label">Rozpočet</div>
                    <div class="sd-info-item sd-info-label">Rok</div>
                    <div class="sd-info-item sd-info-label">Provozovatel</div>
                    <div class="sd-info-item sd-info-label">Status</div>

                </div>

                <div class="sd-info-column">
                    <div class="sd-info-item sd-info-value">{{solution.location}}</div>
                    <div class="sd-info-item sd-info-value">{{solution.category}}</div>
                    <div class="sd-info-item sd-info-value">{{(solution.budget || 0) | number}} CZK</div>
                    <div class="sd-info-item sd-info-value">{{solution.year}}</div>
                    <div class="sd-info-item sd-info-value">{{solution.vendor}}</div>
                    <div class="sd-info-item sd-info-value">{{solution.status}}</div>

                </div>
            </div>
            <div class="sd-divider"></div>

            <br>
            <div class="sd-info">
                <div class="sd-info-column" align="center">
                    <div><img src="assets/images/pdf.png" width="50px"></div>
                    <div>dopadova_studie.pdf</div>
                </div>

                <div class="sd-info-column">
                </div>

                <div class="sd-info-column">
                    <div class="header">Zřizovatel</div>
                    <div>Peter Malina</div>
                    <div>Operator ICT, a.s.</div>
                    <div><br></div>
                </div>

                <div class="sd-info-column">
                    <div class="header">Provozovatel</div>
                    <div>Vladan Ryšavý</div>
                    <div>Město Brno</div>
                    <div>Kancelář rozvoje</div>
                </div>
            </div>

            <br>
            <div class="sd-divider"></div>

            <button mat-raised-button color="primary" (click)="redirectToList()">Zpet</button>

        </div>


    </mat-card>

</div>
