<div class="solutions-container">

  <mat-card class="solution" *ngFor="let solution of solutions">
    <div class="solution-header">
      <img src="assets/images/smart-city-mock.jpg" class="solution-image">
      <mat-card-title class="solution-title">{{solution.title}}</mat-card-title>
    </div>
    <div class="solution-content">
      <div class="solution-description">{{solution.description}}</div>
      <div class="solution-bottom-info">
        <div class="solution-location">{{solution.location}}</div>
        <div class="solution-budget">{{solution.budget  | number}} CZK</div>
      </div>
    </div>
  </mat-card>
</div>