<div class="pd-container" *ngIf="project != null">
  <mat-card class="project-detail">
    <div class="pd-first-row">
      <i class="material-icons pd-status-item" *ngIf="project.status === 'done'">check_circle</i>
      <i class="material-icons pd-status-item" *ngIf="project.status === 'in_progress'">swap_vertical_circle</i>
      <i class="material-icons pd-status-item rotate" *ngIf="project.status === 'canceled'">add_circle</i>
      <div class="pd-header">
        <mat-card-title class="pd-title">{{project.name}}</mat-card-title>
        <div class="pd-subtitle">
          <div class="pd-budget">{{project.budget | number}} CZK</div>
          <mat-chip color="primary" class="pd-category">{{project.category}}</mat-chip>
        </div>
      </div>
    </div>
    <div class="map-container">
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD415cmYer5BUDx4gIj9WqM3kKyHSQJxYA&q=Praha+Forum+Karlin"
        allowfullscreen>
      </iframe>
    </div>

    <div class="pd-description">
      {{project.longDescription}}
    </div>

    <div class="pd-divider"></div>

    <mat-card-title>
      Problémy
    </mat-card-title>
    <mat-list>
      <mat-list-item><i class="material-icons">assignment_late</i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</mat-list-item>
      <mat-list-item><i class="material-icons">assignment_late</i>Quisque rutrum eleifend gravida</mat-list-item>
      <mat-list-item><i class="material-icons">assignment_late</i>Etiam eget pellentesque</mat-list-item>
    </mat-list>

    <div class="pd-divider"></div>

    <mat-card-title>
      Řešení
    </mat-card-title>
    <mat-list>
      <mat-list-item><i class="material-icons">assignment_turned_in</i>Chytrá lavička</mat-list-item>
      <mat-list-item><i class="material-icons">assignment_turned_in</i>Chytré městské osvětlení</mat-list-item>
    </mat-list>
  </mat-card>
</div>