@import '_variables';

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $contrast-color;

  .toolbar-logo {
    height: 90%;
  }

  .toolbar-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile-name {
      font-size: 16px;
      margin-right: 12px;
    }
  }
}

.content {
  min-height: calc(100vh - 64px);
  min-width: 100%;
  background-color: #FAFAFA;
  padding: 24px;
}

.menu-items {
  display: flex;
  align-items: center;
  height: 100%;

  .menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 12px;
    height: 100%;
    cursor: pointer;
    text-transform: uppercase;

    .menu-item-label {
      font-size: 16px;
    }

    &.active {

    }

    &:hover {
      background-color: rgba(white, 0.1);
    }
  }
}