<mat-toolbar class="toolbar">
  <div class="toolbar-logo-container">
    <img class="toolbar-logo" src="assets/images/logo-white.png">

  </div>

  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of menuRoutes" [routerLink]="item.route" routerLinkActive="active">
      <div class="menu-item-label">{{ item.label }}</div>
    </div>
  </div>

  <div class="toolbar-profile">
    <div class="profile-name">Starosta Maková Lhota</div>
    <button mat-icon-button (click)="logout()">
      <i class="material-icons">power_settings_new</i>
    </button>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>


