@import '_variables';

$toolbar-height: 80px;

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: $contrast-color;
  height: $toolbar-height;

  .toolbar-logo-container {
    flex-grow: 1;
    flex-basis: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    user-select: none;

    .toolbar-logo {
      height: 90%;
    }
  }

  .toolbar-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    flex-basis: 33%;

    .profile-name {
      font-size: 16px;
      margin-right: 12px;
    }
  }
}

.content {
  min-height: calc(100vh - #{$toolbar-height});
  min-width: 100%;
  background-color: #FAFAFA;
  padding: 24px;
}

.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  flex-basis: 33%;

  .menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    cursor: pointer;
    text-transform: uppercase;

    .menu-item-label {
      font-size: 20px;
    }

    &.active {

    }

    &:hover {
      background-color: rgba(white, 0.1);
    }
  }
}